<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu clave. Tu puede hacer esto a traves del siguiente enlace.</p>
<p><%= link_to 'Cambiar mi clave', "#{ENV.fetch('WEBAPP_HOST')}/#{@resource.class.to_s === 'User' ? 'u' : 'p'}/password-reset/#{@resource.reset_password_token}" %></p>

<p>Si tu no has solicitado cambiar tu clave, por favor ignorar este correo.</p>
<p>Tu clave no cambiara hasta que tu accedas al enlace anterior y crees una nueva.</p>